<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Calendar</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for("static", filename="") }}favicon_{{ current_day }}.png" id="favicon">
    <meta name="viewport" content="width=400" />
</head>
<body>

    <div id="statusbar" class="">Processing...</div>

    <div class="header">
        <input type="button" class="header-button" value="+"
            onclick="window.location='/{{ calendar_id }}/{{ year }}/{{ month}}/new_task'" title="New task" />
        <input type="button" class="header-button" value="&lt;" onclick="window.location='{{ previous_month_link }}'"
            title="Previous month" />
        <input type="button" class="header-button" value="&gt;" onclick="window.location='{{ next_month_link }}'"
            title="Next month" />
        <div class="current-date">
            {{ month_name }} {{ year }}
        </div>
        {% if month != current_month or year != current_year %}
            <div class="back-to-current">
                <a href="/{{ calendar_id }}/">back to current</a>
            </div>
        {% endif %}
        {% if display_view_past_button %}
            <input id="toggle-past-events" class="toggle-past-events" type="button" value="View Past" onclick="ToggleViewPastTasks();" />
        {% endif %}
    </div>

    <ul class="calendar-header">
        {% for weekday_header in weekdays_headers %}
            <li class="weekday-header">{{ weekday_header }}</li>
        {% endfor %}
    </ul>

    <ul class="calendar" id="calendar">
        {% for day in month_days %}
            <li
                {% if day.month != month %}
                    class="day othermonth"
                {% else %}
                    class="day"
                {% endif %}
                data-year="{{ day.year }}"
                data-month="{{ day.month }}"
                data-day="{{ day.day }}">

                {% if day.day == current_day and day.month == current_month and day.year == current_year %}
                        <span class="daynumber-current">
                {% else %}
                        <span class="daynumber">
                {% endif %}
                {{ day.day }}</span>
                <ul class="tasks">
                    {% if day.month|string in tasks and day.day|string in tasks[day.month|string] %}
                        {% for task in tasks[day.month|string][day.day|string]|sort(attribute="start_time") %}
                            <li
                                {% if day.month != month %}
                                    class="task greyed"
                                {% else %}
                                    class="task"
                                    style="background-color:{{ task["color"] }}"
                                {% endif %}
                                data-year="{{ day.year }}"
                                data-month="{{ day.month }}"
                                data-day="{{ day.day }}"
                                data-id="{{ task["id"] }}"
                                {% if "repetition_type" in task %}data-recurrent="1"{% endif %}>

                                {% if not task["is_all_day"] %}
                                    <span class="time">{{ task["start_time"] }}{% if task["start_time"] != task["end_time"] %} - {{ task["end_time"] }}{% endif %}</span>
                                {% endif %}
                                {{ task["title"] }}
                                <p class="accordion-hidden">
                                    {{ task["details"]|task_details_for_markup|safe }}
                                    {% if day.month == month %}
                                        <a href="#"
                                            data-id="{{ task["id"] }}"
                                            data-year="{{ day.year }}"
                                            data-month="{{ day.month }}"
                                            data-day="{{ day.day }}"
                                            data-title="{{ task["title"]|replace("\"","") }}"
                                            class="button smaller remove-task"
                                            title="Remove task">x</a>
                                        {% if "repetition_type" in task %}
                                            <a href="#"
                                                data-id="{{ task["id"] }}"
                                                data-year="{{ day.year }}"
                                                data-month="{{ day.month }}"
                                                data-day="{{ day.day }}"
                                                data-title="{{ task["title"]|replace("\"","") }}"
                                                class="button smaller hide-recurrent-task"
                                                title="Hide this task ocurrence">H</a>
                                        {% endif %}
                                            <a href="/{{ calendar_id }}/{{ day.year }}/{{ day.month }}/{{ day.day }}/{{ task["id"] }}{% if "repetition_type" in task %}?repeats=1{% endif %}"
                                                class="button smaller edit-task"
                                                title="Edit task">E</a>
                                    {% endif %}
                                    {% if "repetition_type" in task %}
                                        <span class="button smaller recurrent-task" title="Recurent task">R</span>
                                    {% endif %}
                                </p>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </li>
        {% endfor %}
    </ul>

<script type="text/javascript">
    var smallScreen = (Math.min(document.documentElement.clientWidth, window.innerWidth || 0) <= 650),
        moving = false,
        capturedMovementOffset = false,
        movingElement,
        movingTimeout,
        clicksCounter = 0,
        clicksTimeout;

    function ToggleDetails(target) {
        target.className = target.className === "accordion-hidden" ? "accordion-visible" : "accordion-hidden";
    };

    function ShowStatusbar() {
        document.getElementById("statusbar").className = "processing";
    };

    function HideStatusbar() {
        document.getElementById("statusbar").className = "";
    }

    function SetErrorStatusbar() {
        var statusbar = document.getElementById("statusbar");
        statusbar.innerHTML = "The action errored";
        statusbar.className = "error";
    };

    function DeleteTask(year, month, day, id, title) {
        if (confirm("Remove task '" + title + "'?") == true) {
            ShowStatusbar();
            fetch("{{ base_url }}/{{ calendar_id }}/" + year + "/" + month + "/" + day + "/" + id + "/",
              {
                method: "delete",
                credentials: "include"
              })
            .then(response => {
                if (response.status == 200) {
                    location.reload();
                } else {
                    SetErrorStatusbar();
                }
            });
        }
    };

    function DeleteTaskOcurrence(year, month, day, id, title) {
        if (confirm("Hide task ocurrence of '" + title + "'?") == true) {
            ShowStatusbar();
            fetch("{{ base_url }}/{{ calendar_id }}/" + year + "/" + month + "/" + day + "/" + id + "/hide/",
              {
                method: "post",
                credentials: "include"
              })
            .then(response => {
                if (response.status == 200) {
                    location.reload();
                } else {
                    SetErrorStatusbar();
                }
            });
        }
    }

    function readViewPastTasksSetting() {
        var targetName = "ViewPastTasks",
            allCookies = document.cookie.split(';');
        for(var i=0; i < allCookies.length; i++) {
            var cookie = allCookies[i];
            if (cookie.indexOf(targetName) > -1) {
                return cookie.substring(targetName.length + 1, cookie.length) !== "0";
            }
        }
        return true;
    };

    function ToggleViewPastTasks() {
        var expirationDate = new Date(),
            currentSetting = readViewPastTasksSetting();

        expirationDate.setTime(expirationDate.getTime() + 31536000000);
        document.cookie = "ViewPastTasks=" + (currentSetting ? "0" : "1") +
                          "; expires=" + expirationDate.toUTCString() + "; path=/";
        location.reload();
    };

    function DragEnd() {
        moving = false;
        capturedMovementOffset = false;
        movingElement.onmouseup = null;
        movingElement.onmousemove = null;

        if (movingElement === null) {
            return;
        }

        Array.from(document.getElementsByClassName("day")).forEach(function(element) {
            if (element.className === "day") {
                var movingElementX = parseInt(movingElement.style.left.slice(0, -2)) + movingElement.clientWidth / 2;
                var movingElementY = parseInt(movingElement.style.top.slice(0, -2)) + movingElement.clientHeight / 2;
                if (element.offsetLeft <= movingElementX &&
                    movingElementX <= (element.offsetLeft + element.clientWidth) &&
                    element.offsetTop <= movingElementY &&
                    movingElementY <= (element.offsetTop + element.clientHeight)) {

                    if (movingElement.getAttribute("data-day") !== element.getAttribute("data-day")) {
                        var oldYear = movingElement.getAttribute("data-year");
                        var oldMonth = movingElement.getAttribute("data-month");
                        var oldDay = movingElement.getAttribute("data-day");
                        var newDay = element.getAttribute("data-day");
                        element.children[1].appendChild(movingElement);
                        movingElement.setAttribute("data-day", newDay);

                        var editTaskButton;
                        if (movingElement.children[0].className === "time") {
                            movingElement.children[1].children[0].setAttribute("data-day", newDay);
                            editTaskButton = movingElement.children[1].children[movingElement.children[1].children.length - 1];
                        } else {
                            movingElement.children[0].children[0].setAttribute("data-day", newDay);
                            editTaskButton = movingElement.children[0].children[movingElement.children[0].children.length - 1];
                        }

                        var url = editTaskButton.href;
                        var urlFragments = url.split("/");
                        urlFragments[urlFragments.length - 2] = newDay;
                        editTaskButton.href = urlFragments.join("/");
                        ShowStatusbar();
                        fetch("{{ base_url }}/{{ calendar_id }}/" + oldYear + "/" + oldMonth + "/" + oldDay + "/" +
                              movingElement.getAttribute("data-id") + "/",
                          {
                            method: "put",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            credentials: "include",
                            body: newDay
                          })
                        .then(response => {
                            if (response.status == 200) {
                                HideStatusbar();
                            } else {
                                SetErrorStatusbar();
                            }
                        });

                    }
                }
            }
        });
        resetMovingTimeout();
        movingElement.style.position = null;
        movingElement.style.width = null;
        movingElement.style.left = null;
        movingElement.style.top = null;
        movingElement = null;
    };

    function Dragging(e) {
        if (moving) {
            if (!capturedMovementOffset) {
                x = e.offsetX;
                y = e.offsetY;
                capturedMovementOffset = true;
            }
            posx = e.pageX - x;
            posy = e.pageY - y;
            this.style.left = posx + 'px';
            this.style.top = posy + 'px';
            if (movingTimeout) {
                resetMovingTimeout();
            }
            movingTimeout = window.setTimeout(DragEnd, 1500);
        }
    };

    function resetMovingTimeout() {
        window.clearTimeout(movingTimeout);
        movingTimeout = undefined;
    };

    var hiddenValue, visibilityChangeEventName;
    if (typeof document.hidden !== "undefined") {
        hiddenValue = "hidden";
        visibilityChangeEventName = "visibilitychange";
    } else if (typeof document.msHidden !== "undefined") {
        hiddenValue = "msHidden";
        visibilityChangeEventName = "msvisibilitychange";
    } else if (typeof document.webkitHidden !== "undefined") {
        hiddenValue = "webkitHidden";
        visibilityChangeEventName = "webkitvisibilitychange";
    }

    function refreshIfStale() {
        if (!document[hiddenValue]) {
            var ts = localStorage.getItem("ts");
            localStorage.setItem("ts", Date.now());
            if (ts !== null && Date.now() - parseInt(ts) > 3600000) {
                location.reload();
            }
        }
    };

    document.addEventListener(visibilityChangeEventName, refreshIfStale, false);

    if (!smallScreen) {
        document.getElementById("calendar").onmousedown = function(eventData) {
            if (eventData.target.nodeName === "LI" && eventData.target.className === "task" &&
                !eventData.target.hasAttribute("data-recurrent")) {

                moving = true;
                movingElement = eventData.target;
                movingElement.onmouseup = DragEnd;
                movingElement.onmousemove = Dragging;
                movingElement.style.width = movingElement.clientWidth - 12 + "px";
                movingElement.style.position = "absolute";
            }
            return;
        };
    }

    document.getElementById("calendar").onclick = function(eventData) {
        if (eventData.target.nodeName === "LI" && eventData.target.className === "day") {
            if (++clicksCounter == 1) {
                // Single click behaviour (nothing)
                clicksTimeout = setTimeout(function() { clicksCounter = 0; }, 300);
            } else {
                clearTimeout(clicksTimeout);
                clicksCounter = 0;
                window.location = "/{{ calendar_id }}/{{ year }}/{{ month }}/new_task?day=" +
                                    eventData.target.getAttribute("data-day");
            }
            return;
        }

        if (eventData.target.nodeName === "LI" && eventData.target.className === "task") {
            // If is not "all day" there will be a span containing the time before the content
            ToggleDetails(eventData.target.children[eventData.target.children.length - 1]);
            return;
        } else if (eventData.target.nodeName === "SPAN" && eventData.target.parentNode.nodeName === "LI"
                    && eventData.target.parentNode.className === "task") {
            // If is not "all day" there will be a span containing the time before the content
            ToggleDetails(eventData.target.parentNode.children[eventData.target.parentNode.children.length - 1]);
            return;
        }

        if (eventData.target.nodeName === "P" && (eventData.target.className === "accordion-hidden" ||
                                                    eventData.target.className === "accordion-visible")) {
            ToggleDetails(eventData.target);
            return;
        }

        if (eventData.target.nodeName === "A") {
            if (eventData.target.className.indexOf("remove-task") > -1) {
                DeleteTask(eventData.target.getAttribute("data-year"),
                        eventData.target.getAttribute("data-month"),
                        eventData.target.getAttribute("data-day"),
                        eventData.target.getAttribute("data-id"),
                        eventData.target.getAttribute("data-title"));
            } else {
                if (eventData.target.className.indexOf("hide-recurrent-task") > -1) {
                    DeleteTaskOcurrence(eventData.target.getAttribute("data-year"),
                                    eventData.target.getAttribute("data-month"),
                                    eventData.target.getAttribute("data-day"),
                                    eventData.target.getAttribute("data-id"),
                                    eventData.target.getAttribute("data-title"));
                }
            }
        }

        return;
    };
</script>
</body>
</html>
