body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1em/1.4;
    color: #222;
    background-color: #FCFCFC;
}

li {
    list-style: none;
}

.header {
    display: inline;
}

.header .current-date {
    color: #444;
    display: inline;
    font-weight: 700;
    font-size: 1.5em;
    padding-left: 6px;
    padding-right: 6px;
    min-width: 25%;
}

.header .back-to-current {
    display: inline;
    color: #444;
    font-size: 1.25em;
    font-weight: 700;
}

.header .back-to-current a {
    color: #444;
    text-decoration: underline;
}

.header a {
    text-decoration: none;
}

.header-button {
    padding: 1px;
    font-size: 14px;
    font-weight: 700;
}

.button {
    font-size: 1.3em;
    font-weight: 700;
    padding: 3px 6px 3px 6px;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 2px;
    text-decoration: none;
}

.form-button {
    padding: 1px;
    margin-top: 9px;
    margin-right: 3px;
}

.color-picker {
    padding: 0;
}

.smaller {
    padding: 0px 3px 2px 3px;
    font-size: 11px;
}

.toggle-past-events {
    float: right;
}

.remove-task {
    color: #F7F7F7;
    background-color: #FF6B6B;
    margin-right: 2px;
    float: right;
}

.hide-recurrent-task {
    color: #F7F7F7;
    background-color: #556270;
    margin-right: 2px;
    float: right;
}

.recurrent-task {
    color: #F7F7F7;
    background-color: #4ECDC4;
    margin-right: 2px;
    float: right;
}

.edit-task {
    color: #F7F7F7;
    background-color: #79BD9A;
    margin-right: 2px;
    float: right;
}

.calendar-header {
  padding: 0;
  margin-top: 5px;
  margin-bottom: 0;
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  min-width: 400px;
  border-left: #DADCE0 1px solid;
}

.weekday-header {
  background-color: #F6F6F6;
  color: #666;
  padding: 3px;
  margin: 0;
  list-style:none;
  flex-grow: 1;
  flex-basis: 12%;
  overflow: auto;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  border-top: #DADCE0 1px solid;
  border-right: #DADCE0 1px solid;
  border-bottom: 0px;
}

.calendar {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  min-width: 400px;
  border-bottom: #DADCE0 1px solid;
  border-left: #DADCE0 1px solid;
}

.day {
  background-color: #F9F9F9;
  padding: 3px;
  margin: 0;
  min-height: 120px;
  list-style:none;
  flex-grow: 1;
  flex-basis: 13.5%;
  overflow: auto;
  box-sizing: border-box;
  cursor: pointer;
  border-top: #DADCE0 1px solid;
  border-right: #DADCE0 1px solid;
  border-bottom: 0px;
}

.task.greyed {
    background-color:#B8B8B8 !important;
}

.othermonth {
  background-color: #F3F3F3;
  cursor: auto;
}

span.daynumber {
    font-size: 13.5px;
    font-weight: 400;
    color: #666;
    padding: 3px;
}

span.daynumber-current {
    font-size: 13.5px;
    font-weight: 700;
    color: #F7F7F7;
    background-color: #3EB34F;
    padding: 4px;
    border-radius: 12px;
}

.othermonth span.daynumber {
    color: #777774;
}

ul.tasks {
    font-weight: 400;
    font-size: 12px;
    margin: 1px;
    margin-top: 3px;
    padding: 0;
}

ul.tasks li {
    background-color: #444;
    color: #FEFEFE;
    margin-bottom: 1px;
    padding: 1px 4px 2px 2px;
    cursor: pointer;
    border-radius: 2px;
}

ul.tasks li a {
    color: #F0F0F0;

}

.accordion-hidden {
    height: 0;
    overflow: hidden;
    margin: 0;
}

.accordion-visible {
    border-top: 1px dashed #CCC;
    margin: 0;
    padding: 0 0 2px 0;
}

.hidden {
    height: 0;
    overflow: hidden;
    margin: 0;
    visibility: hidden;
}

.task-details-form label {
    font-weight: 700;
    margin-top: 6px;
}

#statusbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 26px;
    z-index: 4000000;
    visibility: hidden;
    font-weight: 700;
    text-align: center;
}

.processing {
    visibility: visible !important;
    color: #F7F7F7;
    background-color: #A1D360;
}

.error {
    visibility: visible !important;
    color: #F7F7F7;
    background-color: #EB5A46;
}

@media screen and (max-width:650px) {

    .header-button {
        font-size: 18px;
        padding: 2px;
    }

    .header .current-date {
        font-size: 0.85em;
        padding-left: 3px;
        padding-right: 3px;
    }

    .header .back-to-current {
        font-size: 0.60em;
    }

    .day {
    min-height: 30px;
    }
}
